Babel
click
filelock
Flask
jinja2
jsonschema
pydantic<2.0
pygeofilter
pygeoif
pyproj
python-dateutil
pytz
PyYAML
rasterio
requests
shapely
SQLAlchemy<2.0.0
tinydb
unicodecsv

# Needed for the GeoFRESH case:
#psycopg2
psycopg2-binary # instead of psycopg2
sshtunnel
geomet
# for subsetting
gdal==3.4.1 # instead of osgeo
