[Unit]
Description=Gunicorn instance to serve pygeoapi
After=network.target

[Service]
User=pyguser
Group=www-data
WorkingDirectory=/opt/pyg_aquainfra
Environment="PATH=/opt/pyg_aquainfra/venv/bin"
ExecStart=/opt/pyg_aquainfra/venv/bin/gunicorn --workers 3 --log-level DEBUG --access-logfile /opt/pyg_aquainfra/gunicorn-access.log --error-logfile /opt/pyg_aquainfra/gunicorn-error.log --bind unix:pygeo.sock -m 007 pygeoapi.flask_app:APP


[Install]
WantedBy=multi-user.target